---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base.astro";
import Note from "@/components/note/Note.astro";
import { collectionDateSort } from "@/utils/date";


const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};

// Notes
const MAX_NOTES = 2;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Hi, I’m a starter Astro. I’m particularly great for getting you started with your own blogging
			website.
		</p>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc" role="list">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="citrus-link inline-block"
				href="https://github.com/artemkutsan/astro-citrus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>

	<!-- Notes Section -->
	{
		latestNotes.length > 0 && (
			<section class="mt-12">
				<h2 class="title mb-6 text-accent-two">
					<a href="/notes/">Notes</a>
				</h2>
				<div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
					{
						latestNotes.map((note) => (
							<div>
								<Note note={note} as="h4" isPreview />
							</div>
						))
					}
				</div>
			</section>
		)
	}

	<!-- ADDED Awards & Scholarships section here -->
	<div class="prose prose-citrus max-w-none mt-12">
		<h2 class="title text-xl">Awards & Scholarships</h2>
		<ul class="list-inside list-disc">
			<li><strong>7th Place:</strong> EURO Meets NeurIPS 2022 Vehicle Routing Competition</li>
			<li><strong>9th Place:</strong> Amazon 2021 Last-Mile Routing Research Challenge</li>
			<li><strong>Ph.D. Funding Grant:</strong> Fully funded by Universidad EAFIT, 2019-2022</li>
		</ul>
	</div>

</PageLayout>
